<div class="container inner-content">
    <h1 class="header1">我们的案例</h1>
    <h1 class="header6">名校导师已经成功指导超过1000人</h1>
    <p class="body1">记录访问拒绝无法将无法几分了未见房价阿里附近阿里房价未来减肥非金额完了发尽量我</p>
</div>
<div class="tabhost">
    <div class="tab" ng-class="{active: tabact == 1}" ng-click="tabact = 1;">所有</div>
    <div class="tab" ng-class="{active: tabact == 2}" ng-click="tabact = 2;">高中生</div>
    <div class="tab" ng-class="{active: tabact == 3}" ng-click="tabact = 3;">本科生</div>
    <div class="tab" ng-class="{active: tabact == 4}" ng-click="tabact = 4;">研究生</div>
</div>
<div class="tabpage col-xs-12">
    <h1>sfjlew</h1>
    <h1>sfjlew</h1>
    <h1>sfjlew</h1>
    <h1>sfjlew</h1>
    <h1>sfjlew</h1>
</div>
