<style>
html {
    overflow: hidden !important;
}
</style>
<div id="wrapper" class="container inner-content" ng-style="pageHeight">
    <div id="scroller">
        <div id="page1" class="page" ng-style="pageHeight">
            <h1 class="header1">星博洋为你提供<br>高质量、有针对性的<br>英语培训及海外留学服务</h1>
            <div class="next-wrapper">
                <button class="btn btn-default next" ng-click="nextPage()">Next</button>
            </div>
        </div>
        <div id="page2" class="page" ng-style="pageHeight">
            <h1 class="header1">我们的导师</h1>
            <p class="body1">星博洋教育有限公司由八个留美博士从12年成立，至14年感恩节已经帮助了近百位学生成功获得了梦想学校的录取信。
<p class="body1">作为一个资深的留美咨询团队，把学生的申请当成自己的事来做，用最专业最踏实的信念帮助每一位学生收获梦想。我们希望能够伴随每一个申请者一步步打好坚实的基础，然后从容的迈向美好的未来。</p>
<p class="body1">客观的来说，星博洋教育咨询有限公司比国内大部分中介或者留学咨询公司更加专业到位。一方面八位留美博士对录取有着自己深刻的理解（分别都担任过康乃尔大学、威斯康星－麦迪逊大学的招生负责人，与美国一流学校有良好的沟通渠道）。另一方面，八位博士分别来自不同专业领域，商学、社会学、教育学、工程学以及理学等。提供给每一位申请者最专业最对口的指导。再者在综合规划申请策略之余，辅导学生大幅度提高写作能力，为每一位申请者打好坚实的英语基础。我们始终相信机会不是留给有准备的人，而是留给有着充分且专业准备的人。</p>
<p class="body1">
由于我们，长达6年的留学经验，2年的面试经验，让我们了解了中国学生的优势以及劣势，也让我们清楚的了解到授人以鱼，不如授人以渔。在这样的信念下，我们相信星博洋将会成为每一位申请者留学中最重要的开始。
</p>
            <div class="card-list row">
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
            </div>
            <div class="next-wrapper">
                <button class="btn btn-default next" ng-click="nextPage()">Next</button>
            </div>
        </div>
        <div id="page3" class="page" ng-style="pageHeight">
            <h1 class="header1">数不胜数的成功案例</h1>
<p class="body1">
由于我们，长达6年的留学经验，2年的面试经验，让我们了解了中国学生的优势以及劣势，也让我们清楚的了解到授人以鱼，不如授人以渔。在这样的信念下，我们相信星博洋将会成为每一位申请者留学中最重要的开始。
</p>
            <div class="card-list row">
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
                <div class="card-wrapper col-xs-3">
                    <div class="card">
                        <img src="img/icons/eclipse.png">
                        <p class="card-name">sljfel slfje</p>
                        <div class="card-sep"></div>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                        <button class="btn btn-default">更多信息</button>
                    </div>
                </div>
            </div>
            <div class="next-wrapper">
                <button class="btn btn-default next" ng-click="nextPage()">Next</button>
            </div>
        </div>
        <div id="page4" class="page" ng-style="pageHeight">
            <h1 class="header1">把你心中的疑问告诉我们，让我们助你完成梦想</h1>
            <div class="next-wrapper">
                <button class="btn btn-default next" ng-click="navTo('teachers')">Start</button>
            </div>
        </div>
    </div>
</div>
