<div class="container inner-content">
    <h1 class="header1">我们的产品</h1>
    <h1 class="header6">名校导师已经成功指导超过1000人</h1>
    <p class="body1"></p>
</div>
<div class="container inner-content">
    <div class="card-list row">
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
    </div>
</div>

