<div class="container inner-content">
    <h1 class="header1">我们的产品</h1>
    <p class="body1">
        <br>申请地域：美国、英国、香港、加拿大、澳大利亚
        <br>申请方向：高中申请、本科申请、本科专学申请、研究生申请、博士申请、LLM/JD申请、MBA申请
        <br>申请流程：
        <br>1、实习规划、活动规划、考试时间安排（事情是大事，怎么仔细规划都不为过）
        <br>2、选定专业：根据申请者的兴趣以及今后的职业规划
        <br>3、选校：私人定制式收集信息发，深度了解自己。
        <br>4、指导联络推荐人、规划考试
        <br>5、辅导制作个人配套文书
        <br>6、一对一面试辅导
        <br>7、预录取办公室保持沟通，关键时刻争取奖学金。
    </p>
</div>
<div class="container inner-content">
    <div class="card-list row">
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
            </div>
        </div>
    </div>
</div>

