<div class="container inner-content">
    <h1 class="header1">我们的导师</h1>
    <h1 class="header6">名校导师已经成功指导超过1000人</h1>
    <div class="btn-group-wrapper">
        <div class="my-btn-group">
            <button class="btn btn-default">所有导师</button>
            <button class="btn btn-default">工程类</button>
            <button class="btn btn-default">文学类</button>
            <button class="btn btn-default">艺术类</button>
            <button class="btn btn-default">社科类</button>
        </div>
    </div>
</div>
<div class="container inner-content">
    <div class="card-list row">
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
        <div class="card-wrapper col-xs-3">
            <div class="card">
                <img src="img/icons/eclipse.png">
                <p class="card-name">sljfel slfje</p>
                <div class="card-sep"></div>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <p class="card-info">剑桥大学<br>硕士 | 数学</p>
                <button class="btn btn-default">更多信息</button>
            </div>
        </div>
    </div>
</div>

