<div class="container inner-content">
    <h1 class="header1">我们是谁</h1>
<h1 class="header6">
<br>
Qingwei Wang
<br>
<br>University of Wisconsin-Madison  Ph.D. （美国威斯康星大学麦迪逊分校博士）
<br>Harvard University  Research Associate（美国哈佛大学肯尼迪政治学院研究院）
<br>Cornell University M.S.（美国康乃尔大学理学硕士）
<br>University of Rochester  M.S. （美国罗切斯特大学理学硕士）
<br>Renmin University of China BA（中国人民大学管理学学士）
<br>
<br>
<br>Haomin Yuan
<br>
<br>University of Wisconsin-Madison Ph.D.（美国威斯康星大学麦迪逊分校博士）
<br>University of Wisconsin-Madison M.S.（美国威斯康星大学麦迪逊分校理学硕士）
<br>Tinghua University B.S.（中国清华大学理学学士）
<br>
<br>
<br>Ye Lin
<br>
<br>Duke University Ph.D.（美国杜克大学博士）
<br>Duke University M.S.（美国杜克大学理学硕士）
<br>Renmin University of China B.A.（中国人民大学管理学学士）
<br>
<br>
<br>Bin Zhao
<br>
<br>University of Pennsylvania  M.S.（ 美国宾夕法尼亚大学理学硕士）
<br>Renmin University of China B.A.（中国人民大学管理学学士）
<br>
<br>
<br>Tao Zhang
<br>
<br>University of California _Berkeley Ph.D. （美国加州大学伯克利分校博士）
<br>Duke University M.S.（美国杜克大学理学硕士）
<br>Tinghua University B.S. （中国清华大学理学学士）
<br>
<br>
<br>Shiyuan Lin
<br>
<br>University of Wisconsin-Madison Ph.D. （美国威斯康星大学麦迪逊分校博士）
<br>University of Wisconsin-Madison M.A（ 美国威斯康星大学麦迪逊分校文学硕士）
<br>Xiamen University M.M（ 中国厦门大学音乐学硕士）
<br>Chongqing University B.A （ 中国重庆大学文学硕士）
<br>
<br>
<br>Ling Lin
<br>
<br>Yale University Ph.D.（美国耶鲁大学博士）
<br>Stanford University M.S.（ 美国斯坦福大学理学硕士）
<br>Renmin University of China B.A.（ 中国人民大学管理学学士）
<br>
<br>
<br>Minyi Liu
<br>
<br>Northwestern University M.S.（ 美国西北大学理学硕士）
<br>John Hopkins University B.S.（ 美国约翰霍普金斯大学经济学／理学学士）
<br>
<br>
</h1>

</div>

