/* base css stylesheet */
html,body {
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-color: #f5f5f7 !important;
    position: relative;
}

#header {
    height: 70px;
    background-color: white;
}

#header>.header-inner {
    width: 1240px;
    margin: 20px auto 0 auto;
}

p.chi {
    font-size: 16px;
    color: #01b5f0;
    font-weight: bold;
    margin: 0;
}

p.eng {
    font-size: 11px;
    color: #888687;
    font-weight: bold;
    margin: 0;
}

#header .h-item {
    width: 12%;
}

#header .contact {
    float: right;
    width: auto;
}

#header .contact button {
    background-color: #01b5f0;
    color: white;
}

#footer {
    height: 60px;
    background-color: #5a5657;
}

#footer>p{
    color: #d6d4d5;
    font-size: 12px;
    text-align: center;
    margin: 10px auto 10px auto;
}

#main-content {
}

.inner-content {
    width: 960px;
    height: auto;
}

.header1,.header2,.header3,.header4,.header5,.header6 {
    text-align: center;
}
.header1 {
    font-size: 40px;
}
.header2 {
    font-size: 35px;
}
.header3 {
    font-size: 30px;
}
.header4 {
    font-size: 26px;
}
.header5 {
    font-size: 22px;
}
.header6 {
    font-size: 18px;
}

.body1 {
    font-size: 14px;
    text-indent: 30px;
}

.btn-group-wrapper {
    text-align: center;
    margin: 20px 0;
}

.my-btn-group {
    width: inherit;
    margin: 0 auto;
    text-align: center;
}

.my-btn-group a,
.my-btn-group button {
    margin: 0 30px;
    color: #01b5f0;
    border: 1px solid #01b5f0;
    background-color: inherit;
    padding: 6px 30px;
}

.tabhost {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-box-pack: center;
}

.tab {
    min-width: 150px;
    text-align: center;
    background-color: #01b5f0;
    margin: 0 10px;
    padding: 8px 15px;
    color: white;
    position: relative;
    top: 1px;
    z-index: 1;
    cursor: pointer;
}

.tab.active {
    background-color: white;
    color: #01b5f0;
    border-top: 1px solid #01b5f0;
    border-left: 1px solid #01b5f0;
    border-right: 1px solid #01b5f0;
    border-bottom: 1px solid white;
}

.tabpage {
    background-color: white;
    border-top: 1px solid #01b5f0;
}

.card-list {
    padding: -15px;
    overflow-y: auto;
}

.card-wrapper {
    padding: 10px !important;
}

.card {
    padding: 15px;
    text-align: center;
    background-color: white;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card .card-name {
    color: #01b5f0;
    font-size: 18px;
    margin: 12px 0 10px 0;
}

.card .card-sep {
    height: 1px;
    width: 100%;
    background-color: black;
}

.card .card-info {
    margin: 10px 0 15px 0;
}

.card .btn {
    background-color: #01b5f0;
    color: white;
    margin-top: 10px;
}

#wrapper {
    overflow: hidden;
    position: relative;
}

#scroller {
    width: 100%;
    height: auto;
}

#scroller .page {
    width: 100%;
    min-height: 500px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.page .next-wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 100px;
    text-align: center;
}

.next-wrapper .next {
    width: 100px;
}
